*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*
https://colorhunt.co/palette/253093
https://colorhunt.co/palette/226158
f5f4f4      simil gris
cae4db      simil verde/claro
cdac81      simil beige
00303f      verde oscuro?
*/

.contenedor{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

}

.sobreMi,
.portfolio,
.experiencia,
.contacto {
    font-weight: bold;
}


.main{
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}


/*HEADER*/
.header{
    width: 96%;
    height: 100px;
    margin: 0 auto;
    text-align: left;
    background-color: #00303f;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    grid-column-start: 1;
    grid-column-end: -1;
}


.header>h1{
    padding: 10px;
    background: #F5F4F4;
    background: -webkit-linear-gradient(to top, #F5F4F4 0%, #cae4db 100%);
    background: -moz-linear-gradient(to top, #F5F4F4 0%, #cae4db 100%);
    background: linear-gradient(to top, #F5F4F4 0%, #cae4db 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header>h1:hover{
    background: #5DF576;
    background: -webkit-linear-gradient(to top, #5DF576 0%, #A2E4E0 100%);
    background: -moz-linear-gradient(to top, #5DF576 0%, #A2E4E0 100%);
    background: linear-gradient(to top, #5DF576 0%, #A2E4E0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster', cursive;
    word-spacing: 10px;
    letter-spacing: 5px;
}

/*MAIN*/


.sobreMi,
.portfolio,
.experiencia,
.contacto
{
    min-height: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 25px;
    text-align: center;
    padding-top: 25px;
    border: 2px solid white;
}

.sobreMi:hover,
.portfolio:hover,
.experiencia:hover,
.contacto:hover
{
    min-height: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 25px;
    text-align: center;
    padding-top: 25px;
    border: 2px solid;
    border-image: conic-gradient(DeepPink, fuchsia, GreenYellow, aqua, blue, magenta, red) 1;
}
/*
.i:hover{
    background: #40BFFF;
    background: -webkit-linear-gradient(to right, #40BFFF 0%, #94FFAD 100%);
    background: -moz-linear-gradient(to right, #40BFFF 0%, #94FFAD 100%);
    background: linear-gradient(to right, #40BFFF 0%, #94FFAD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}*/


.i:hover{
    background: #FF5E00;
    background: -webkit-linear-gradient(to bottom right, #FF5E00 0%, #FF00E6 100%);
    background: -moz-linear-gradient(to bottom right, #FF5E00 0%, #FF00E6 100%);
    background: linear-gradient(to bottom right, #FF5E00 0%, #FF00E6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.sobreMiCont,
.portfolioCont,
.experienciaCont,
.contactoCont
{
    min-height: 300px;
    grid-column-start: 2;
    grid-column-end: -1;
    border: 2px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 25px;
    padding: 25px;
    text-align: justify;
}

.sobreMiCont:hover,
.portfolioCont:hover,
.experienciaCont:hover,
.contactoCont:hover
{
    min-height: 300px;
    grid-column-start: 2;
    grid-column-end: -1;
    border: 1px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 25px;
    padding: 25px;
    text-align: justify;
    border: 2px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}





.portfolioCont a{
    text-decoration: none;
    padding: 10px;
}

.portfolioCont p{
    padding: 5px;
}

.links{
    margin-top: 40px;
    text-align: center;

}

.links>a{
    padding: 30px;
    color: black;
}


/*FOOTER*/
.footer{
    min-height: 120px;
    background-color: #00303f;
    grid-column-start: 1;
    grid-column-end: -1;
}

.footer>p{
    padding: 50px;
    color: #cae4db;
    font-size: 25px;
}

